#root, html, body, .App {
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgb(11,93,190);
  background: linear-gradient(90deg, rgba(11,93,190,1) 0%, rgba(241,114,169,0.8099614845938375) 100%);
  display: flex;
  line-height: 1.625;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray; 
}